{wc:templates "index","header"}
<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_STYLE}/css/Index.css"/>
<div class="bg">
    <div class="banner">
        <img src="{G_TEMPLATES_STYLE}/images/B_zs-banner.png" width="882" height="259"></div>
    <div class="menu">
        <div class="menu_right">
        </div>
        <div class="menu_left">
        </div>
        <div class="menu_center">
            <ul>
                <li><a href="#01">云购网简介</a></li>
                <li class="menuline"></li>
                <li><a href="#02">1元云购的核心优势</a></li>
                <li class="menuline"></li>
                <li><a href="#03">合作对象</a></li>
                <li class="menuline"></li>
                <li><a href="#03">合作方式</a></li>
                <li class="menuline"></li>
                <li><a href="#04">合作流程</a></li>
                <li class="menuline"></li>
                <li><a href="#05">招商联系</a></li>
            </ul>
        </div>
    </div>
    <div class="con">
        <div class="fonttop">
            &nbsp;&nbsp;1元云购（www.1yyg.com）是一种全新的互动购物体验方式，是时尚、潮流的风向标，能满足个性、年轻消费者的购物需求，由深圳市中利保投资管理有限公司注入巨资打造的新型购物网。</div>
        <div class="title1">
            <span>云购简介</span><a name="01" id="01"></a></div>
        <div class="text">
            &nbsp;&nbsp;云购是指一件商品被分成若干“等份”，您只需出其中一份的钱（1元），获得一个编号，当这件商品所有“等份”被完全售出后，系统随机抽取一个编号作为“幸运编号”，此“幸运编号”的拥有者即可获得这件商品。<br>
            <br>
            例如：一部4000元iPhone4手机，这部iPhone4将被“分”成4000份出售，每份“售价”1元。花1元钱后将买进一个编号，当这4000“份”全部被卖空时，系统将随机抽取一个
            “幸运编号”，“幸运编号”拥有者就能获得这部手机。<br>
            <p>
                1元云购（www.1yyg.com）是一种全新的互动购物体验方式，是时尚、潮流的风向标，能满足个性、年轻消费者的购物需求，由深圳市中利保投资管理有限公司注入巨资打造的新型购物网。<br>
                <br>
                1元云购以“快乐云购，惊喜无限”为宗旨，力求打造一个100%公平公正、100%正品保障、寄娱乐与购物一体化的新型购物网站。<br>
                随着互联网的发展及网购消费模式的多样化，1元云购势必成为中国电子商务网站中最具活力的生力军及网民最爱的购物网，必将迅速崛起，成为互联网新时代的佼佼者！<br>
            </p>
        </div>
        <div class="title2">
            <span>1元云购核心优势</span><a name="02" id="02"></a></div>
        <div class="text">
            1. 1元云购是全球模式创新、国内最具潜质的综合型B2C电子商务平台，由深圳市中利保投资管理有限公司投入巨资打造。<br>
            2. 1元云购拥有激扬的青春舞台，这里洋溢着激情与个性，这里充满着创意与灵感！我们立志成为一家快速成长、充满活力的创业公司，我们更
            <br>
            &nbsp;&nbsp;&nbsp;&nbsp;矢志成为一家伟大的、备受社会尊敬的基业长青的企业！<br>
            3. 1元云购具有高端信息技术支撑的网络购物平台，可支持1000万用户同时访问，每天可处理上万订单。<br>
            4. 强大的互联网营销能力，领先的精准营销手段，线上线下渠道的无缝整合，快速准确地向用户传递最新、最热商品信息。</div>
        <div class="title3">
            <span>合作对象与合作方式</span><a name="03" id="03"></a></div>
        <div class="text">
            <b>1、合作对象</b><br>
            <p style="margin: 0; padding: 0 0 0 20px;">
                1）国内外品牌商、经销商或有正规货源及授权的渠道商，有合法完整的企业营业执照、企业税务登记证、品牌授权书（或商标注册证）；</p>
            <b>2、合作方式</b><br>
            <p style="margin: 0; padding: 0 0 0 20px;">
                1）代销<br>
                代销模式，系指供应商与本公司签订代销合同之后，按照本公司入库通知书列明的商品型号和数量，将相关商品运送、放置于本公司指定的仓库，并由本公司进行销售，一定周期后，本公司按照实际销售的数量、事先约定的代销进货价，与供应商结算货款的交易过程。<br>
                <br>
                2）购销（含买断）<br>
                购销模式，系指供应商与本公司签订购销合同之后，按照本公司入库通知书列明的商品型号和数量，将相关商品运送、放置于本公司指定的仓库，并由本公司进行销售，本公司按照实际购买入库的数量、事先约定的采购价与供应商结算货款的交易过程。
                <br>
                购销过程中，购销商品的所有权在商品交付给本公司时，从供应商转移至本公司。
                <br>
                购销模式下的结算环节，由本公司与供应商具体洽商决定。具体而言，可以由本公司先行支付一定的预付款或定金，而后一定周期后再结算；也可以洽商其它更灵活的形式。
                <br>
                购销模式下，本公司所采购的商品中，滞销品或因顾客退换货而产生的不良品能否退还或部分退还给供应商，由本公司与供应商商务洽谈决定。</p>
        </div>
        <div class="title4">
            <span>合作方式</span><a name="04" id="04"></a></div>
        <div class="text">
            <img src="{G_TEMPLATES_STYLE}/images/B_lc_pic.gif" width="833" height="195"></div>
        <div class="title5">
            <span>招商联系</span><a name="05" id="05"></a></div>
        <div class="text" style="background: none;">
            <div class="linktext">
                联系人：商品运营中心<br>
                电话：023-67898642<br>
                地址：重庆市江北区观音桥红鼎国际C座<br>
                邮编：402000<br>
            </div>
        </div>
    </div>
</div>
{wc:templates "index","footer"}